.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 125px;
  margin-top: 44px;
  padding-left: 50px;
  padding-right: 50px;
}

.page-footer__logo {
  width: 105px;
  height: 90px;
  align-self: center;
}

.page-footer__company {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.page-footer__company-politics {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  font-family: $font-text;
  color: $footer-politics;
}

.page-footer__company p {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  font-family: $font-text;
  color: $copyright;
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-footer__company a {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  font-family: $font-text;
  color: $copyright;
}

.page-footer__contacts {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.page-footer__contacts-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: $menu-types-features-online-docs-orders-procedure;
  text-decoration: none;

  &:nth-of-type(n+1) {
    margin-bottom: 16px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}
