.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 85px;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 9px;
}

.page-header__nav {
  align-self: center;
}

.page-header__nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 622px;
}

.page-header__nav-item {
  &:nth-of-type(n+1) {
    margin-right: 36px;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.page-header__nav-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $menu-types-features-online-docs-orders-procedure;

  &:hover {
    color: $button-gradient-first;
  }

  &:active {
    color: $button-gradient-second;
  }
}

.page-header__contacts {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: $telephone;
  text-decoration: none;
  position: relative;
  height: 23px;
  box-sizing: border-box;
  padding-top: 19px;

  &::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    top: 19px;
    left: -30px;
    background-image: url("../img/icon-phone.svg");
  }

  &:hover {
    text-decoration: underline;
    color: $button-gradient-third;
  }
}

.page-header a {
  height: 64px;
  align-self: center;
}

@media (max-width: $tablet-width) {
  .page-header__contacts {
    font-size: 18px;
    padding-left: 25px;
    line-height: 25px;

    &::before {
      left: 4px;
      top: 21px;
    }
  }

  .page-header__logo {
    width: 140px;
    height: 50px;
    margin-top: 7px;
  }
}
