$menu-types-features-online-docs-orders-procedure: #4f4f4f;
$telephone: #3e0d41;
$footer-politics: #3e0d41;
$bckg-header: #2d261b;
$bckg-footer: #454444;
$border-header: rgba(51, 51, 51, 0.6);
$main-header: #ffffff;
$border-input:#fcfae1;
$button-gradient-first:#eb5d56;
$button-gradient-second: #390a40;
$button-gradient-third: #812c49;
$input-invalid:red;
$placeholder: rgba(0, 0, 0, 0.5);
$input-value: rgba(0, 0, 0, 1);
$bckg-features:#e9e4e4;
$bckg-main:#e5e5e5;
$legend-form-footer:#bdbdbd;
